# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.manifest

# Installer logs
pip-log.txt
pip-delete-this.txt
pypiserver.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.log
*.rpt
*.csv

# Translations
*.mo
*.pot

# Django stuff:
*.db
*.sqlite3
*/settings/local.py
*/local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx stuff:
docs/_build

# Pylint stuff:
pylint.d

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
venv/
env/

# OS or Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/

test.py